@model IEnumerable<BLL.ViewModel.ContactVM>
@using BLL.ViewModel

@{
    ViewBag.Title = "All contacts";
}

<h3>Contacts:</h3>


<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>
            <label>First Name</label>
        </th>
        <th>
            <label>Last Name</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Phone Numbers</label>
        </th>
        <th>
            <label>Details</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.FirstName)                
            </td>
            <td>
                @Html.DisplayFor(i => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Email)
            </td>
            <td>
                @foreach (var phone in item.Phones)
                {
                    @phone.Type
                    <i> : </i>
                    @phone.Number
                    <br>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ContactId }, new { @class = "btn btn-default" })               
            </td>
        </tr>
    }
</table>

