@model BLL.ViewModel.ContactVM

@{
    ViewBag.Title = "Details";
}

<h3>Contact details:</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if (Model.Photo != null && Model.Photo.ImageData != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo.ImageData);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="300" height="300"
                         src="@imgSrc" />
                </div>
            }
            <br>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @if (Model.BirthDay != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BirthDay.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BirthDay.Date)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @foreach (var phone in Model.Phones)
        {
            <dt>
                <br>
                @Html.DisplayNameFor(ph => phone.Type)
            </dt>
            <dd>
                <br>
                @Html.DisplayFor(ph => phone.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(ph => phone.Number)
            </dt>
            <dd>
                @Html.DisplayFor(ph => phone.Number)
            </dd>
        }
        <dd>
            <br>
            @if (ViewBag.InFavor == true)
            {
                @Html.ActionLink("Remove from favorite", "RemoveFromFavorite", "Contact", new { contactId = Model.ContactId }, new { @class = "btn btn-warning" })
            }
            else
            {
                @Html.ActionLink("Add to favorite", "AddToFavorite", "Contact", new { contactId = Model.ContactId }, new { @class = "btn btn-primary" })
            }
            <br>
            <br>
            @Html.ActionLink("Back to all List", "All", null, new { @class = "btn btn-default" })
        </dd>
    </dl>
</div>
